@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700;800&display=swap');

* {
    font-family: 'Hanken Grotesk', 'Outfit', sans-serif;
}

main {
    height: 100vh;
}

h4 {
    font-weight: 800;
    font-size: 4em;
}

.ContainerMain {
    max-width: 700px;
    min-width: 400px;
}

@media (max-width: 450px) {
    main {
        height: 100%;
    }

    .ContainerMain {
        min-width: auto;
    }

    .ContainerMain.m-4 {
        margin: 0 !important;
    }

    .ContainerMain.rounded-5 {
        border-radius: 0 !important;
    }

    .BgPurple.rounded-5 {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
}


/* Font Weight / Size -------------------------------- */
.w500 {
    font-weight: 500;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.Fs18 {
    font-size: 18px;
}

/* Cores Background --------------------------------- */
.TextBlue {
    color: #ebf1ff;
}

.TextLightLavender {
    color: #c8c7ff;
}

.TextDarkBlue {
    color: #303b5a;
}

.Opacity {
    color: #303b5a80;
}

.BgPurple {
    background-image: linear-gradient(180deg, #7857ff, #2e2be9);
}

.BgCircle {
    background-image: linear-gradient(180deg, #4e21ca, #2421ca00);
}

/* Sumamary ---------------------------------- */
.PCuston {
    padding: 32px 40px;
}

.Reaction {
    color: hsl(0, 100%, 67%);
    background-color: rgba(255, 87, 87, 0.051);
}

.Memory {
    color: hsl(39, 100%, 56%);
    background-color: rgba(255, 176, 31, 0.051);
}

.Verbal {
    color: hsl(166, 100%, 37%);
    background-color: rgba(0, 189, 145, 0.05);
}

.Visual {
    color: hsl(234, 85%, 45%);
    background-color: rgba(17, 37, 212, 0.05);
}

.BtnContinue {
    border: none;
    background-color: rgb(48, 59, 90);
    color: rgb(235, 241, 255);
    margin-top: 40px;
}

.BtnContinue:hover {
    background-image: linear-gradient(180deg, #7857ff, #2e2be9);
}

.HsCuston {
    height: 50px;
}

/* Rodapé ----------------------------------------- */
footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: rgb(62, 82, 163);
}